<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css.style.css">
  </head>
  <body>
    <h1>About me??</h1>

    <!-- <a href="">about page</a> -->
    <div class="about">
    <p>Thomas Cruise Mapother IV, better known as Tom Cruise, was born on July 3, 1962, in Syracuse, New York, to Mary and Thomas Mapother. Cruise's mother was an amateur actress and schoolteacher, and his father was an electrical engineer. His family moved around a great deal when Cruise was a child in order to accommodate his father's career.
        Cruise's parents divorced when he was 11, and the children moved with their mother to Louisville, Kentucky, and then to Glen Ridge, New Jersey, after her remarriage. Like his mother and three sisters, Cruise suffered from dyslexia, which made academic success difficult for him. He excelled in athletics, however, and considered pursuing a career in professional wrestling until a knee injury sidelined him during high school.
        At age 14, Cruise enrolled in a Franciscan seminary with thoughts of becoming a priest, but he left after a year. When he was 16, a teacher encouraged him to participate in the school's production of the musical Guys and Dolls. After Cruise won the lead of Nathan Detroit, he found himself surprisingly at home on the stage, and a career was born.</p>
        </div>
  </body>
</html>