<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css.style.css">
  </head>
  <body>
    <h1>Ten ways to describe celebrity</h1>

    <!-- <a href="">about page</a> -->
    <div class="Homepage">
    <ul>
        <li>Claim to fame Someone’s reason for being well-known or famous.</li>
        <li>Versatile :A person who is able to adapt or be adapted to many different functions or activities, mostly different roles they perform.</li>
        <li>Glamorous: Someone who is attractive in an exciting and special way.</li>
        <li>A one trick pony:A celebrity can be called ‘ A one trick pony’ when they are skilled only in one kind of genre.</li>
        <li>Overrated:If something or someone is overrated, that person or thing is considered to be better or more important than they really are.</li>
        <li>Arrogant:A celebrity who is unpleasantly proud and behaving as if you are more important than, or know more than, other people.</li>
        <li>Highest accolade:It is a form of praise or an award given to a celebrity for the brilliant work put in by them over the years.</li>
        <li>Glowing tributes :Praising with enthusiasm received from the critics and audiences for the performance.</li>
        <li>Big break :A celebrity who has a significant good fortune or opportunity to showcase their talent.</li>
        <li>Victim of their own success:To have problems because of your success, as success gets into ones head their attitude towards others changes, they become arrogant and start to think as if they are only one on the planet with the skill and talent.</li>
    </ul>
    </div>
    <a href="/photo"> My pictures</a>
    <a href="/about"> About me</a>
  </body>
</html>
