<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <link rel="stylesheet" href="/css.style.css">
  <title>Photo-Gallery</title>
</head>
<body>
  <header>
  <h1> Photo-Gallery</h1> 
  </header>

  <a href="/"> Back to Home</a>
  <a href="/about"> About me</a>

  <img src="/images/img2.jpeg" width= "350px" height="350px"/>
  <img src="/images/img3.jpeg" width= "350px" height="350px"/>
  <!-- <img src="/images/kamaro3.jpg" width= "350px" height="350px"/> -->

</body>
</html>